.tags_hot{
    padding: 30px 0;
    .owl-item{
        border-radius: 5px;
        margin-right: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            margin-right: 10px;
            text-decoration: none;
            padding: 10px;
            display: inline-block;
            color: #353535;
            font-size: 14px;
            border-radius: 5px;
            line-height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp:2;
            -webkit-box-orient: vertical;
        }

        &:nth-child(2n+1){
            border-color: #fdd692;
            background-color: #fdd692;
            a{
                color: white;
            }
        }
        &:nth-child(2n+2){
            border-color: #d9e5e7;
            background-color: #d9e5e7;
            a{
                color: white;
            }
        }
        &:nth-child(2n+3){
            border-color: #a8dba8;
            background-color: #a8dba8;
            a{
                color: white;
            }
        }
        &:nth-child(2n+4){
            border-color: #df999a;
            background-color: #fd999a;
            a{
                color: white;
            }
        }
        &:nth-child(2n+5){
            border-color: #dedcee;
            background-color: #dedcee;
            a{
                color: white;
            }
        }
        &:nth-child(2n+6){
            border-color: #a3daff;
            background-color: #a3daff;
            a{
                color: white;
            }
        }
    }
    .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
        display: block;
    }
    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        color: #a8a8a8;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
        background: #fff!important;
    }
    .owl-carousel .owl-next{
        right: -40px;
    }
    .owl-carousel .owl-prev{
        left: -40px;
    }
}
