.box-section{
    padding: 1.25rem;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    position: relative;
    .box-title{
        font-size: 18px;
        padding-bottom: 5px;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: 10px;
        font-weight: 500;
        a{
            float: right;
            font-size: 14px;
            color: #272727;
            i{
                font-weight: 400;
            }
        }
    }
}
#rightSidebar{
    position: absolute;
    top: -170px;
    right: -15px;
    width: 30%;
}
.right-section {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    font-size: 1rem;
    background: #fff;
    padding: 1.25rem;
    position: relative;
    margin: 15px 0;
    &-box{
        padding: 1.25rem;
    }
    &-title{
        font-size: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .list-course{
        a{
            display: block;
            color: #000;
            font-size: 15px;
            margin-bottom: 10px;
            &:hover{
                cursor: pointer;
                color: #fb6a00;
            }
            i{
                color: #fb6a00 !important;
                margin-right: 5px;
            }
        }
    }
    .price{
        font-weight: 700;
        font-size: 1.5rem;
        color: #fb6a00;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        i{
            margin-right: 15px;
        }
    }
    .footer{
        margin-top: 20px;
        a{
            width: 30px;
            height: 30px ;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 30px;
        }
        a.facebook{
            background-color: #3B5998;
            color: white;
        }
        a.google{
            background-color: #dd4b39;
            color: white;
        }
    }
}
.teacher{

    .info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        a{
            img{
                width: 100px;
                height: 100px;
                max-width: 100%;
                border-radius: 50%;
            }
        }
        .name{
            font-weight: 700;
            margin-bottom: .5rem;
            color: #272727;
            margin-top: 0.5rem;
            transition: all .3s ease;
        }
        .job{
            margin-bottom: 0;
            color: #878787;
            i{
                color: #50ad4e;
            }
        }
    }
    .content{
        .item{
            margin-bottom: 1rem;
            p{
                &:first-child{
                    font-weight: 700;
                }
            }
        }
    }
}
