.vote{
    .dashboard{
        border-right: 1px solid #dedede;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .vote-total-age{
            font-size: 3.75rem;
            font-weight: 700;
            margin-bottom: 0;
        }
        .vote-star{
            span{
                color: #bcdeba!important;

            }
            span.active{
                color: #50ad4e!important;
            }
        }
        .desc{
            font-size: 1rem;
            color: #878787;
            margin-bottom: 0;
        }
    }
    .list-vote{
        padding: 10px;
        align-items: center;
        .item{
            margin-bottom: 10px;
            .first{
                i{
                    color: #50ad4e;
                }
            }
            div{
                width: 80%;
                height: 7px;
                overflow: hidden;
                font-size: .875rem;
                background-color: #e9ecef;
                border-radius: .25rem;
                margin-top: 7px;
                .progress{
                    display: block;
                    background-color: #28a745;
                }
            }
        }
    }
}
