.box-sidebar{
    background: #f9f9f9;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    &-title{
        font-weight: 700;
        font-size: 14px;
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
    ul.b-s-category{
        display: inline-block;
        position: relative;
        width: 100%;
        li{
            padding: 0 15px;
            &:first-child{
                padding-top: 15px;
            }
            margin-bottom: 15px;
            a{
                color: #272727;
                background-repeat: no-repeat;
                height: 30px;
                line-height: 30px;
                padding-bottom: 5px;
                padding-top: 5px;
                i{
                    color: #50ad4e;
                    width: 20px;
                    margin-right: 5px;
                }
                &:hover{
                    color: #50ad4e;
                }
            }
            &:last-child{
                padding-bottom: 15px;

            }
        }
        .turn-back{
            margin-bottom: 0;
            padding: 10px 15px;
            margin-top: 15px;
            border-top: 1px solid #ddd;
            i{
                color: #272727;
                font-size: 20px;
            }
        }
    }
    .b-s-tags{
        padding: 15px;
        display: inline-block;
        width: 100%;
        li{
            float: left;
            padding-top: 0!important;
            margin-right: 5px;
            margin-bottom: 5px;
            a{
                padding: 5px 10px;
                color: #fff!important;
                background: #a9b2bd;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                font-weight: 300;
                display: block;
                &:hover{
                    background-color: #389a36;
                }
            }
        }
    }
}
